root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{js,cjs,mjs,jsx,ts,cts,mts,tsx,json,yml,yaml,toml,rs}]
indent_style = tab
indent_size = 1
max_line_length = 100
tab_width = 2
ij_javascript_force_quote_style = true
ij_typescript_force_quote_style = true
ij_javascript_use_double_quotes = false
ij_typescript_use_double_quotes = false
ij_javascript_force_semicolon_style = true
ij_typescript_force_semicolon_style = true
ij_javascript_use_semicolon_after_statement = false
ij_typescript_use_semicolon_after_statement = false
ij_javascript_spaces_within_object_literal_braces = true
ij_typescript_spaces_within_object_literal_braces = true
ij_javascript_spaces_within_imports = true
ij_typescript_spaces_within_imports = true
ij_javascript_enforce_trailing_comma = whenmultiline
ij_typescript_enforce_trailing_comma = whenmultiline
ij_javascript_use_explicit_js_extension = auto
ij_typescript_use_explicit_js_extension = auto
